

.boxShadow{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3)
  0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


:root {
  --title-font: "Bebas Neue", sans-serif;
  --subtitle-font: "Rajdhani", sans-serif;
  --jw-body-font: "Roboto", sans-serif;
  --jw-primary-color: #91cbfb;
  --jw-secondary-color: #4292ba;
  --jw-dark-color: #212121;
  --jw-light-color: #f8f8f8;
  --jw-font-size: 1.2rem;
  --jw-font-weight: 400;
  --jw-line-height: 1.5;
  --jw-social-color: rgb(41, 171, 247);
}

/* ------ ELEMENT OVERIDES ------ */
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: var(--title-font);
}
/* ---------------------------------animations====================== */

.fontTop {
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font: bold;  
}

div>li {
  font-weight: 700;
  font-family: var(--subtitle-fontfont);
  font: bold;
  padding-bottom: 1rem;
}
/* ----------------------------FOR ABOUT PAGE ----------------------- */
/* 
main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
} */
/* ----------------------------ABOUT PAGE ABOVE------------------------- */

body {
  font-family: var(--jw-body-font);
  font-size: var(--jw-font-size);
  font-weight: var(--jw-font-weight);
  line-height: var(--jw-font-height);
  color: var(--jw-dark-color);
  background-color: var(--jw-light-color);
  --webkit-text-size-adjust: 100%;
}


/* --styling the main title-- */

/* SIZING THE LOGO FOR THE HEADER */

  .mainHeader {
    padding-top: calc(2em + 74px);
    background-image: url(/img/shoulderPic_576.jpg);
    height: 274px;
    background-repeat: no-repeat;
    background-position: left 0px top 74px;
  }

  .mainTitle {
    font-family: var(--title-font);
    font-size: 2rem;
    line-height: 1.5rem;
  }

  .subTitle {
    font-family: var(--title-font);
    font-size: 1rem;
    line-height: 0.75rem;
  }

  .mainLogo {
    height: 0.5em;
  }

  .section-page {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
/* ------------------------------------------------------MEDIA QUERIES--------------------------------------------- */

/* SMALL DEVICES (LANDSCAPRE PHONES 576px and up) */


@media (min-width: 575.98px) {
  .mainHeader {
    background-image: url(/img/ShoulderPic_768.jpg);
    height: 200;
  }
  .mainTitle {
    font-family: var(--title-font);
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .subTitle {
    font-family: var(--title-font);
    font-size: 1.1rem;
    line-height: 0.75rem;
  }
  .mainLogo {
    height: 0.6em;
  }
}

/* SMALL DEVICES  */
@media (min-width: 767.98px) {
  .mainHeader {
    background-image: url(/img/ShoulderPic_992.jpg);
    height: 374px;
  }

  .mainTitle {
    font-family: var(--title-font);
    font-size: 4rem;
    line-height: 3.25rem;
  }
  .subTitle {
    font-family: var(--title-font);
    font-size: 2rem;
    line-height: 1.5rem;
  }
  .mainLogo {
    height: 0.6em;
  }
}


/* SMALL */
@media (min-width: 991.98px) {
  .mainHeader {
    background-image: url(/img/ShoulderPic_1200.jpg);
    height: 474px;
  }
  .mainTitle {
    font-family: var(--title-font);
    font-size: 4rem;
    line-height: 3rem;
  }
  .subTitle {
    font-family: var(--title-font);
    font-size: 2rem;
    line-height: 1.7rem;
  }
  .mainLogo {
    height: 0.7em;
  }
}

/* SMALL */
@media (min-width: 1199.98px) {
  .mainHeader {
    background-image: url(/img/ShoulderPic_2560.jpg);
    height: 574px;
  }
  .mainTitle {
    font-family: var(--title-font);
    font-size: 6rem;
    line-height: 5rem;
  }
  .subTitle {
    font-family: var(--subtitle-font);
    font-size: 2rem;
    line-height: 2rem;
  }
  .mainLogo {
    height: 0.7em;
  }
}

/* SMALL */
@media (min-width: 1399.98px) {
  .mainHeader {
    background-image: url(/img/ShoulderPic_2560.jpg);
    height: 574px;
  }
  .mainTitle {
    font-family: var(--title-font);
    font-size: 9rem;
    line-height: 7rem;
  }
  .subTitle {
    font-family: var(--subtitle-font);
    font-size: 3rem;
    line-height: 2rem;
  }
  .mainLogo {
    height: 0.5em;
  }
}


/* --------------------- project cards styles---------------- */

.projectCard {
  width: 18rem;
}

/*  -------------- SOCIAL ICONS STYLING ----------------- */

footer .social>a {
    color: var(--jw-social-color);
    opacity: .60;

}

footer .social>a:hover {
    color: var(--jw-social-color);
    opacity: 1;
}


/* <div class="w3-panel w3-border w3-hover-border-red">
  <p>Border that turns red on hover</p>
</div>

<div class="w3-panel w3-border w3-border-red w3-hover-border-green">
  <p>Red border that turns green on hover</p>
</div> */